html, body {
    background-image: url("index.jpeg");
    background-size: cover; /* Cover the entire screen */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background image fixed as the user scrolls */
    background-position: center; /* Center the background image */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    overflow-x: hidden; /* Prevent horizontal scrollbar */
    overflow-y: hidden; /* Prvent veritcal scrollbar */
}


h1{
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 17% 83%; /* Divide the screen into left and right quarters */
    height: 100vh; /* Set the height of the container to 100% of viewport height */
}

.sidebar {
    position: fixed;
    top: 35px;
    left: 0;
    height: 100%;
    width: 17%;
    overflow-y: auto; /* Enable vertical scrollbar for the sidebar */
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.mapButtonsContainer {
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
    align-items: flex-start; /* Align buttons to the top of the sidebar */
}

.mapUI {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 245px;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-shadow: 0 0 18px white;
    margin-bottom: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 4px;
}

.main-content {
    padding: 20px;
    height: 100%;
    overflow: hidden; 
    position: relative;
}

.bankButton {
    background-image: url("Maps/Bank/bank.avif");
}

.borderButton {
    background-image: url("Maps/Border/border.avif");
}

.chaletButton {
    background-image: url("Maps/Chalet/chalet.avif");
}

.clubhouseButton {
    background-image: url("Maps/Clubhouse/clubhouse.avif");
}

.coastlineButton {
    background-image: url("Maps/Coastline/coastline.avif");
}

.consulateButton {
    background-image: url("Maps/Consulate/consulate.avif");
}

.emeraldplainsButton {
    background-image: url("Maps/EmeraldPlains/emeraldplains.avif");
}

.kafedostoyevskyButton {
    background-image: url("Maps/KafeDostoyevsky/kafedostoyevsky.avif");
}

.kanalButton {
    background-image: url("Maps/Kanal/kanal.avif");
}

.lairButton {
    background-image: url("Maps/Lair/lair.avif");
}

.nighthavenlabsButton {
    background-image: url("Maps/NighthavenLabs/nighthavenlabs.avif");
}

.oregonButton {
    background-image: url("Maps/Oregon/oregon.avif");
}

.outbackButton {
    background-image: url("Maps/Outback/outback.avif");
}

.skyscraperButton {
    background-image: url("Maps/Skyscraper/skyscraper.avif");
}

.themeparkButton {
    background-image: url("Maps/ThemePark/themepark.avif");
}

.villaButton {
    background-image: url("Maps/Villa/villa.avif");
}
