body {
    background-image: url("siege.jpg");
}

.container {
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    padding: 10px;
    margin: auto;
    border-radius: 50px;
    background-color: black;
    display: inline-block;
    background: linear-gradient(45deg, #ccc 25%, #333 25%, #333 50%, #ccc 50%, #ccc 75%, #333 75%, #333);
    background-size: 10px 10px; 
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
    text-shadow: 0 0 12px black;
}

.mapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.mapRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 575px;
}

.mapButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px; 
}

.mapUI {
    width: 245px; 
    height: 150px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-shadow: 0 0 18px white;
    margin: 0 12px 25px 12px;
    background-size: cover;
    background-repeat: no-repeat; 
    display: flex; 
    align-items: flex-start;
    justify-content: center; 
    border: 4px solid black; 
    box-sizing: border-box;
    border-radius: 4px;
}

.bankButton {
    background-image: url("Maps/Bank/bank.jpg");
}

.borderButton {
    background-image: url("Maps/Border/border.jpg");
}

.chaletButton {
    background-image: url("Maps/Chalet/chalet.jpg");
}

.clubhouseButton {
    background-image: url("Maps/Clubhouse/clubhouse.jpg");
}

.coastlineButton{
    background-image: url("Maps/Coastline/coastline.jpg");
}